---
- include: Debian.yml
  when: ansible_os_family == 'Debian'

- include: Darwin.yml
  when: ansible_os_family == 'Darwin'

- include: Windows.yml
  when: ansible_os_family == 'Windows'

- name: Ensure Terraform plugins directory exists for user
  file:
    path: "{{ plugin_path[{{ ansible_os_family }}] }}"
    state: directory
    mode: "0755"